* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  color: red;
}

li {
  margin: 0;
  padding: 0;
  background: white;
  height: 100px;
  width: 100%;
  border-radius: 5px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
